.post {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
    position: relative;
}

.post-image {
    max-width: 100%;
    display: block;
    border-radius: 12px;
    margin-bottom: 12px;
}

.post-text {
    color: #333;
    font-size: 14px;
    line-height: 1.4;
    background-color: #baf9e4;
    padding: 10px 15px;
    border-radius: 18px 18px 18px 0px;
    margin-bottom: 10px;
    max-width: 80%;
    position: relative;
    word-wrap: break-word;
    margin-right: auto;
    margin-right: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}